<div class="container-fluid">
<div class="container">
  <div class="col-xs-12">

    <h1>All entries</h1>

    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Plant</th>
          <th>Pots</th>
          <th>Stick week</th>
          <th>Grade week</th>
          <th>Finish week</th>
          <th>Rating</th>
          <th>Bed</th>
          <th>Greenhouse</th>
          <th>Location</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @entries.each do |entry| %>
          <tr>
            <td><%= link_to entry.plant.description, entry.plant%></td>
            <td><%= entry.pots %></td>
            <td><%= entry.stick_week %></td>
            <td><%= entry.grade_week %></td>
            <td><%= entry.finish_week %></td>
            <td><%= entry.rating %></td>
            <td><%= link_to entry.bed.name, entry.bed %></td>
            <td><%= link_to entry.greenhouse.name, entry.greenhouse %></td>
            <td><%= link_to entry.location.name, entry.location %></td>
            <td><%= link_to 'Edit', edit_entry_path(entry), class:"btn btn-info" %></td>
            <td><%= link_to 'Clear Bed', entry, method: :delete, data: { confirm: 'This will remove all plants from this bed.  Are you sure?' }, class:"btn btn-warning" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Entry', new_entry_path %>
  </div>
</div>
</div>
