<%= form_for(@greenhouse) do |f| %>
  <% if @greenhouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@greenhouse.errors.count, "error") %> prohibited this greenhouse from being saved:</h2>

      <ul>
      <% @greenhouse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
  <% Location.all.each do |location| %>

      <%= f.label location.name %>
      <%= f.radio_button :location_id, location.id %>
  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
