<h1>Editing plant</h1>

<%= form_for(@plant) do |f| %>
  <% if @plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% @plant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_code %><br>
    <%= f.text_field :item_code %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="row">
      <div class="col-sm-12">
        <h3> Finish Week </h3>
        <% 52.times do |week| %>
        <div class="col-xs-2">
          <%= f.label "week#{week + 1}" %>
          <%= text_field_tag "plant[finishtime][]", @plant.finishtime[ week  ] %>
        </div>
        <% end %>
      </div>
    </div>


    <div class="row">
      <h3>Expiration Week</h3>
      <div class="col-sm-12">
        <% 52.times do |week| %>
        <div class="col-xs-2">
          <%= f.label "week#{week + 1}" %>
          <%= text_field_tag "plant[expiration][]", @plant.expiration[ week ] %>
        </div>
        <% end %>
      </div>
    </div>

   <div class="row">
      <h3>Parent Plant?</h3>
      <div class="col-lg-10">
        <div class="col-xs-2">
          <%= f.label "None" %>
          <%= f.radio_button :parent_plant_id, "nil", checked:true %>
        </div>
        <% @plantlist.each do |plant| %>
        <div class="col-xs-2">
          <%= f.label plant.description %>
          <% if plant.id == @plant.id %>
            <%= f.radio_button :parent_plant_id, plant.id, disabled: true %>
          <% else %>
            <%= f.radio_button :parent_plant_id, plant.id %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-10">
        <div class ="col-xs-5">
          <%= f.label :ppprate, "PPP Rate" %>
          <%= f.text_field :ppprate %>
        </div>
      </div>
    </div>
    <br>

  <div class="actions">
    <%= f.submit class:'btn btn-primary' %>
  </div>
<% end %>


<%= link_to 'Show', @plant, class:"btn btn-primary" %> |
<%= link_to 'Back', plants_path, class:"btn btn-info" %>
