<h1>Plants</h1>

<table class="table">
  <thead>
    <tr>
      <th>Item code</th>
      <th>Descripton</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= link_to plant.item_code, plant %></td>
        <td><%= link_to plant.description, plant %></td>
        <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
        <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'VERY BAD IDEA! Are you sure?!' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plant', new_plant_path %>
