<%= form_for(@bed) do |f| %>
  <% if @bed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bed.errors.count, "error") %> prohibited this bed from being saved:</h2>

      <ul>
      <% @bed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br>
    <%= f.text_field :capacity %>
  </div>
  <% Greenhouse.all.each do |greenhouse| %>
        <div class="large-1 columns left">

        <%= f.label greenhouse.name %><br>
        <%= f.radio_button :greenhouse_id, greenhouse.id %>
      </div>
      <% end %>
      <br>
  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
