<h1>All beds</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Capacity</th>
      <th>Greenhouse</th>
      <th>Location</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @beds.each do |bed| %>
      <tr>
        <td><%= link_to bed.name, bed %></td>
        <td><%= bed.capacity %></td>
        <td><%= bed.greenhouse.name %></td>
        <td><%= bed.location.name %></td>
        <td><%= link_to 'Edit', edit_bed_path(bed) %></td>
        <td><%= link_to 'Destroy', bed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bed', new_bed_path %>
