<h1>Locations</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Inventory Report</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= link_to location.name, location %></td>
          <td><%= location.address %></td>
          <td><a class="btn btn-default btn-small" href=<%= inventory_report_location_path(location,:format => :pdf) %>><span class="glyphicon glyphicon-download"></span></a></td>
          <td><%= link_to 'Edit', edit_location_path(location), class:"btn btn-sm btn-primary" %></td>
          <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-warning' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<%= link_to 'New Location', new_location_path, class:"btn btn-primary" %>
