<%= wicked_pdf_stylesheet_link_tag "application" %>
<%= wicked_pdf_javascript_include_tag "application" %>

<% @greenhouses.each do |greenhouse| %>
<% @beds = greenhouse.beds.sort_by { |bed| (bed.name.to_i) } %>
  <h2>
  	<%= @location.name + "|" + greenhouse.name %>
  </h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Total Inventory</th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><%= greenhouse.total %></td>

          </tr>
      </tbody>
    </table>
  </div>
  <div class="page-break">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><div>Bed</div></th>
          <th width="300"><div>Plant</div></th>
          <th width="75">Total</th>
          <th width="50">Rating</th>
          <th width="50">Stick Week</th>
          <th width="50">Hang Week</th>
          <th width="50">Finish Week</th>
          <th width="300">Notes</th>
        </tr>
      </thead>

      <tbody>
        <% @beds.each do |bed| %>
          <% if bed.current.count == 0 %>
              <tr>
                <td><%= bed.name %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            <% else %>
              <% bed.current.each do |entry| %>
                <tr>
                  <td><%= bed.name %></td>
                  <td><%= Plant.find(entry.plant_id).description.to_s %></td>
                  <td><%= entry.pots.to_s %></td>
                  <td><%= entry.rating.to_s %></td>
                  <td><%= entry.stick_week.to_s %></td>
                  <td><%= entry.hang_week.to_s %></td>
                  <td><%= entry.finish_week.to_s %></td>
                  <td width="300"></td>
                </tr>
              <% end %>
            <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
